{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
         "excludes": [
             "Repository/"
        ]
    },
    "logs": {
        "text": "build/infection.log"
    },
    "mutators": {
        "@default": {
            "ignore": [
                "iCom\\SolrClient\\JsonHelper::jsonEncode"
            ]
        }
    }
}
