includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 8
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Method iCom\\SolrClient\\[A-Za-z\\_]+::jsonEncode\(\) should return string but returns string\|false\.#'
            path: src/JsonHelper.php
