<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    cacheResult="true"
    colors="true"
    executionOrder="depends,defects"
    forceCoversAnnotation="true"
    verbose="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="SOLR_URL" value="http://solr:8983/solr/sample" />
    </php>

    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
